.root{
    -fx-font-size: 1em;
    -fx-font-family: "System";
    -fx-background: #ffffff;

}

.text-field {
    -fx-font-size: 1.2em;
    -fx-border-radius: 0.4em;
    -fx-background-radius: 0.4em;
}

.grid-pane {
    -fx-padding: 20 15 10 15;
    -fx-vgap: 10px;
    -fx-hgap: 15px;
}
.grid-pane2 {
    -fx-padding: 50 30 30 50;
    -fx-vgap: 30px;
    -fx-hgap: 35px;
}

.app-name {
    -fx-font-size: 4em;
    -fx-font-family: "Tahoma";
    -fx-text-fill: gray;
}

.label-large {
    -fx-font-size: 2em;
    -fx-text-fill: gray;
}

.label-medium {
    -fx-font-size: 1.2em;
    -fx-text-fill: gray;

}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
    -fx-border-color: #b1b1b1;
    -fx-border-radius: 0.4em;
    -fx-background-radius: 0.4em;

}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-border-color: #b1b1b1;
    -fx-border-radius: 0.4em;
    -fx-background-radius: 0.4em;
}

.button-confirm {
    -fx-font-size: 1.2em;
    -fx-background-color: linear-gradient(#278eeb 0%, #228CEB 100%);
    -fx-text-fill: white;
}

.button-cancel {
    -fx-font-size: 1.2em;
    -fx-background-color: linear-gradient(#ff4a4a 0%, #f22a2a 100%);
    -fx-text-fill: white;
}

.statusbar {
	-fx-border-color: #eeeeee;
	-fx-background-color: #ffffff 0%;
}

.scroll-bar {
	-fx-border-color: #eeeeee;
	-fx-background-color:transparent;
    -fx-background-radius: 0.5em;
    -fx-shape: " ";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(gray,80%);
	-fx-background-radius: 0.5em;
	-fx-border-radius:0.5em;
}
