.root{
    -fx-font-size: 1em;
    -fx-font-family: "Arial";
    -fx-background: #ffffff;
    -fx-text-fill: black;

}

.text-field {
    -fx-font-size: 1.2em;
    -fx-border-radius: 0.4em;
    -fx-background-radius: 0.4em;
}

.grid-pane {
    -fx-padding: 20 15 10 15;
    -fx-vgap: 0.625em;
    -fx-hgap: 0.938em;
}
.grid-pane2 {
    -fx-padding: 50 30 10 30;
    -fx-vgap: 0.938em;
    -fx-hgap: 2.188em;
}

.app-name {
    -fx-font-size: 4em;
    -fx-font-family: "Tahoma";
    -fx-text-fill: black;
}

.label-large {
    -fx-font-size: 2em;
    -fx-text-fill: #2b2b2b;
}

.label-medium {
    -fx-font-size: 1.2em;
    -fx-text-fill: #2b2b2b;

}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
    -fx-border-color: #b1b1b1;
    -fx-border-radius: 0.4em;
    -fx-background-radius: 0.4em;

}

.button {
    -fx-background-color: #f6f6f6;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: #b1b1b1;
    -fx-border-radius: 0.4em;
    -fx-background-radius: 0.4em;
    -fx-font-size: 1.2em;
}

.button-confirm {
    /*-fx-background-color: linear-gradient(#38a1ff 0%, #0062ba 100%);*/
    -fx-background-color: #007be9;
    -fx-text-fill: white;
}

.button-cancel {
    /*-fx-background-color: linear-gradient(#ff2121 0%, #bd0000 100%);*/
    -fx-background-color: #ed0000;
    -fx-text-fill: white;
}

.button-action {
    /*-fx-background-color: linear-gradient(#3bf743 0%, #00a206 100%);*/
    -fx-background-color: #00e20a;
    -fx-text-fill: white;
}


.statusbar {
	-fx-border-color: #eeeeee;
	-fx-background-color: #ffffff 0%;
}

.scroll-bar {
	-fx-border-color: #eeeeee;
	-fx-background-color:transparent;
    -fx-background-radius: 0.5em;
    -fx-shape: " ";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(#2b2b2b,80%);
	-fx-background-radius: 0.5em;
	-fx-border-radius:0.5em;
}
